:root {
    --bg-color: 0, 0, 0;
    --canvas-transparent: 0%;
    --color-saturaion: 95%;

    --dark-color: hsl(var(--hue), 100%, 9%);
    --light-color: hsl(var(--hue), var(--color-saturaion), 98%);
    --base: hsl(var(--hue), 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), var(--color-saturaion), 50%);
    --complimentary2: hsl(var(--hue-complimentary2), var(--color-saturaion), 50%);
  
    --font-family: "Poppins", system-ui;
  
    --bg-gradient: linear-gradient(
      to bottom,
      /* hsl(var(--hue), 95%, 99%), */
      rgba(0, 0, 0, 0),
      hsl(var(--hue), 95%, 84%)
    );
}

.orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;

    filter: opacity(var(--canvas-transparent));
    filter: blur(100px);
}

.canvas-wrapper{
    position: fixed;
    left: 0; top: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
    font-family: var(--font-family);
    color: var(--dark-color);
    /* background: black; */
    background: transparent;
}