:root {
    --bg-color: 0, 0, 0;
    --canvas-transparent: 0%;
    --color-saturaion: 95%;

    --dark-color: hsl(var(--hue), 100%, 9%);
    --light-color: hsl(var(--hue), var(--color-saturaion), 98%);
    --base: hsl(var(--hue), 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), var(--color-saturaion), 50%);
    --complimentary2: hsl(var(--hue-complimentary2), var(--color-saturaion), 50%);
  
    --font-family: "Poppins", system-ui;
  
    --bg-gradient: linear-gradient(
      to right,
      var(--complimentary1),
      var(--complimentary2)
    );
}

.orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;

    filter: opacity(var(--canvas-transparent));
    filter: blur(100px);
}

.canvas-wrapper{
    position: fixed;
    left: 0; top: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
    font-family: var(--font-family);
    color: var(--dark-color);
    /* background: black; */
    background: transparent;
}

#mouse-orb{
    position: fixed;

    height: 500px;
    aspect-ratio: 1;
    top: 50%; left: 50%;
    translate: -50% -50%;
    border-radius: 50%;

    background: var(--bg-gradient);

    animation: rotate 20s infinite;

    filter: blur(200px);
}

@keyframes rotate{
    from{
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to{
        rotate: 360deg;
    }
}