section{
    display: grid;
    place-items: center;
    align-content: center;
    width: 90%; min-height: 35vh;
    margin: 5%;
    color: white;
}

.hidden{

}

.opacity_hidden{
    opacity: 0;
    transition: all 1s;
}

.blur_hidden{
    filter: blur(50px);
    transition: all 1s;
}

.position_hidden{
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

.dontHide{

}