:root{
    --background-color: rgb(13, 27, 42);
    --overlay-color: rgba(20, 20, 50, 75);
    --text-color:     rgb(239, 233, 244);
    --accent-color-1: rgb(20, 129, 186);
    --accent-color-2: rgb(152, 114, 132);
    --accent-color-3: rgb(238, 108, 77);

    --columns: 1;
    --rows: 1;

    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
}

#tile{
    position: fixed;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    
    top: 0; left: 0;

    background: linear-gradient(
        to right,
        var(--accent-color-1),
        var(--accent-color-3),
        var(--accent-color-1)
    );

    background-size: 200%;
    
    animation: background-gradient-animation 10s linear infinite;
}

@keyframes background-gradient-animation{
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
}

.tile{
    position: relative;
}

.tile::before{
    background-color: rgb(20, 20, 20);
    content: "";
    position: absolute;
    inset: 0.5px;
}

.tile:hover{
    opacity: 0.85;
}