:root{
    --background-color: rgb(13, 27, 42);
    --overlay-color: rgba(20, 20, 50, 75);
    --text-color:     rgb(239, 233, 244);
    --accent-color-1: rgb(98, 0, 234);
    --accent-color-2: rgb(236, 64, 122);
    --accent-color-3: rgba(100, 100, 125, 50);

    --columns: 1;
    --rows: 1;

    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
}

#tiles{
    position: fixed;
    height: 100%; width: 100%; top: 0; left: 0;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);

    background: linear-gradient(
        to right,
        var(--g1),
        var(--g2),
        var(--g1)
    );

    background-size: 200%;
    
    animation: background-gradient-animation 10s linear infinite;
}

@keyframes background-gradient-animation{
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
}

.tile{
    position: relative;
}

.tile::before{
    background-color: var(--background-color);
    content: "";
    position: absolute;
    inset: 0.5px;
}

.tile:hover{
    opacity: 0.85;
}

.loading_watermark{
    position: absolute; top: 0; left: 0;
    height: 100%;
    width: 100%;
}

#big_logo_display{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#white_circle{
    position: relative;

    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;

    height: 500px; width: 500px; aspect-ratio: 1;

    border-radius: 50%;
    background-color: aliceblue;
    filter: drop-shadow(0 0 0.75rem aliceblue);
}

#black_circle{
    position: relative;

    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;

    height: 500px; width: 500px; aspect-ratio: 1;

    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    filter: drop-shadow(0 0 0.50rem rgba(30, 25, 100));
}

#logo_image{
    border-radius: 50%;

    height: 500px; width: 500px; aspect-ratio: 1;

    filter: drop-shadow(0 0 0.25rem crimson);
    background-image: url('/img/logo/logo_butterfly_carbon_red_4k.png');
    background-size: 200%;
    background-position: 250% 250%;
}