@import "/css/tile.css";
@import "/css/data.css";
@import "/css/section.css";

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    width: 100%;
    max-width: 1140px;
    max-height: 640px;
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }